{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container-fluid">
      <div class="d-flex me-2">
        <a class="navbar-brand" href="#"><i class="fa-regular fa-bell"></i>
          <sup>
            <span class="bg-primary text-white" style="padding: 0px 5px 2px 5px;border-radius: 50%;">5</span>
          </sup>
        </a>
        <a class="navbar-brand" href="/">Dashboard</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Incidents
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/report/">Report an Incident</a></li>
              <li><a class="dropdown-item" href="#">Save Incidents</a></li>
              <li><a class="dropdown-item" href="#">Sent an Incidents</a></li>
            </ul>
          </li>
          {% if user_id %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex">
          <input class="form-control shadow-sm" type="search" placeholder="Search" aria-label="Search" style="border-radius:20px">
          <button class="border-0" type="submit" style="margin-left:-25px;background:transparent;"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
  </nav>

{% endblock content %}